.logo {
  max-width: 70%;
  height: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.one-line-header {
  font-family: 'Crimson Pro', serif;
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

.mission-statement {
  font-family: 'Crimson Pro', serif;
  color: black;
  font-size: 1.35rem;
  font-weight: bold;
}
#mainPagebutton {
  width: 20%;
}
