.wel-message {
  margin-top: 20px;
  margin-bottom: 0px;
}

.button-fix {
  padding-right: 0px !important;
}

/* GameMode */
.start-button {
  margin-top: 20px;
  margin-right: 0px;
}

/* Chat */
.chat {
  height: 100%;
  margin: 10px 10px 10px 10px;
  color: whitesmoke;
  background-color: rgba(84, 110, 122, 0.8);
}

.card .card-action {
  background-color: transparent;
}

.chat-btn {
  margin-top: 0px;
}

.card-body,
.card-action {
  position: absolute !important;
  width: 100%;
}

.card-action {
  bottom: 0;
}

.all-messages {
  top: 50px;
  bottom: 140px;
  width: 95%;
  position: absolute;
  margin: 0px 24px;
  overflow-y: auto;
}

.mb-8 {
  margin-bottom: 5.5rem;
}

.form-control,
.form-control:focus {
  color: azure;
}

.form-control::placeholder {
  color: whitesmoke;
}

.card-title {
  color: lightblue;
}

.wrapper {
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
}

#mainPagebutton {
  width: 40%;
}
.dashContainer {
  height: 70%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  background: rgba(84, 110, 122, 0.8);
}
::-webkit-scrollbar-thumb {
  background-color: #3949ab;
  -webkit-border-radius: 1ex;
}
