.footer {
  background-color: #3f51b5;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  font-size: 22px;
  font-family: 'Finger Paint';
  backface-visibility: hidden;
}

.footer a {
  color: transparent;
}

.footer span {
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.footer span:nth-child(even) {
  animation-name: smoky-mirror;
}
@keyframes smoky {
  55% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
  }
  100% {
    color: whitesmoke;
  }
}
@keyframes smoky-mirror {
  55% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg)
      scale(2);
    text-shadow: 0 0 20px whitesmoke;
  }
  100% {
    color: whitesmoke;
  }
}
span:nth-of-type(1) {
  animation-delay: 3.1s;
}
span:nth-of-type(2) {
  animation-delay: 3.2s;
}
span:nth-of-type(3) {
  animation-delay: 3.3s;
}
span:nth-of-type(4) {
  animation-delay: 3.4s;
}
span:nth-of-type(5) {
  animation-delay: 3.5s;
}
span:nth-of-type(6) {
  animation-delay: 3.6s;
}
span:nth-of-type(7) {
  animation-delay: 3.7s;
}
span:nth-of-type(8) {
  animation-delay: 3.8s;
}
span:nth-of-type(9) {
  animation-delay: 3.9s;
}
span:nth-of-type(10) {
  animation-delay: 4s;
}
span:nth-of-type(11) {
  animation-delay: 4.1s;
}
span:nth-of-type(12) {
  animation-delay: 4.2s;
}
span:nth-of-type(13) {
  animation-delay: 4.3s;
}
span:nth-of-type(14) {
  animation-delay: 4.4s;
}
span:nth-of-type(15) {
  animation-delay: 4.5s;
}
span:nth-of-type(16) {
  animation-delay: 4.6s;
}
span:nth-of-type(17) {
  animation-delay: 4.7s;
}
span:nth-of-type(18) {
  animation-delay: 4.8s;
}
