.questionbox {
  background-color: #546e7a;
}
.jumbotron {
  padding: 2rem;
  background-color: rgba(84, 110, 122, 0.8);
  border-radius: 0.3 rem;
}
#scoreboard {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  margin: 50px 20%;
  background-color: rgba(84, 110, 122, 0.8);
  border-radius: 5px;
}
#scoreboard-title {
  font-weight: 300;
  color: whitesmoke !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 20px 20%;
}
#scoreboard h3 {
  color: lightblue;
}
h4 {
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.3;
}
h2 {
  margin-top: 50px;
  margin-bottom: 0;
}
.list-group {
  border-top: 1px solid #455a64;
  color: whitesmoke;
  list-style-type: none;
}
.list-group-item {
  font-size: 1rem;
  border-width: 0;
  background-color: transparent;
}
/* .btn-large {
  margin: 10px;
  border-radius: 5px;
} */
.quiz {
  padding-top: 0px;
}
.questiontext {
  color: whitesmoke;
}
